@import './vars';

//fonts
@mixin font_title ($_size, $_height, $_weight) {
    font-size: $_size;
    line-height: $_height;
    font-weight: $_weight;
    font-family: "Montserrat", sans-serif;
    color: #ffff;
}

//display: flex
@mixin flex ($_jc, $_ai, $_fd) {
    display: flex;
    justify-content: $_jc;
    align-items: $_ai;
    flex-direction: $_fd;
}

//adaptive mixins

@mixin respondTo ($_minWidth) {
    @media (min-width: $_minWidth) {
        @content;
    }
}

@include respondTo ($_mobile){         
};

@include respondTo ($_desktop){
};